#app {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.date {
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.start-button {
    background-color: #4caf50;
    color: white;
}

.stop-button {
    background-color: #f44336;
    color: white;
}

.icon {
    margin-right: 5px;
}

.period {
    font-size: 20px;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 10px;
}

.time-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.time-list th,
.time-list td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.total-period {
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
}
.table-container {
    width: 1080px;
    height: 227px;
    position: absolute;
    left: 0;
    top: 137px;
}
.table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;

}
.table td {
    position: relative;
    padding: 0;
    border: 1px solid #60B669;
    border-left: none; /* Supprime la bordure à gauche */
    border-right: none; /* Supprime la bordure à droite */
}
.table .inner {
    padding: 0;
    position: relative;
}
.table .period {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 900;
    word-wrap: break-word;
    color: #6D7783;
}
.table .time {
    font-size: 25px;
    font-family: Roboto;
    font-weight: 900;
    word-wrap: break-word;
}
.table .time-sub {
    font-size: 25px;
    font-family: Roboto;
    font-weight: 300;
    word-wrap: break-word;
}
.table .description {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 900;
    word-wrap: break-word;
    color: #6B7581;
}
.table .green {
    color: #60B669;
}
.table .blue {
    color: #415C73;
}
.table .gray {
    color: #999999;
}